<a href="https://colab.research.google.com/github/ShadyMayez/Ai-Courses/blob/main/Copy_of_task4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1-Write a Python program to calculate the length of a string using 2 ways

In [ ]:
def Len(s):
  counter=0
  for i in s:
    counter+=1
  return counter
Len('ShadyMayez')

10

In [ ]:
def Len2(s):
  l=s[-1]
  return s.index(l)+1
Len2('ShadyMayez')

10

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [ ]:
 def f2_l2(s):
  if Len(s)<2:
    return ''
  else:
    return s[:2]+s[-2:]
f2_l2('w3resource')

'w3ce'

In [ ]:
f2_l2('w')

''

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [ ]:
def add_ing_ly(s):
  if Len2(s)<3:
    return s
  elif s[-3:]=='ing':
    s=s[:Len2(s)-3]+'ly'
  else:
    s=s+'ing'
  return s
add_ing_ly('abc')

'abcing'

In [ ]:
add_ing_ly('playing')

'playly'

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [ ]:
def longest(L):
  max_l=0
  index_l=0
  for i in L:
    if len(i)>max_l:
      max_l=len(i)
      index_l=i
  return max_l , index_l
L=['asdfsdf','azxcnwpoejfjb','ksfnjb','putesbjsdiyg','xcbjx','as']
longest(L)

(13, 'azxcnwpoejfjb')

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [ ]:
def newly_s(s):
  return 'e'+s[1:-1]+'e'
newly_s('abca')

'ebce'

In [ ]:
def newly_s2(s):
  x=''
  for i in s:
    if i=='a':
      x+='e'
    else:
      x+=i
  return x
newly_s2('abca')

'ebce'

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [ ]:
def r_odd_index(s):
  x=''
  for i in range(len(s)):
    if i%2==0:
      x+=s[i]
  return x
r_odd_index('abca')
#remove function take n to remove a char so if we use it the complexity will be n^2 but this way it only takes n

'ac'

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [ ]:
# i thank you meant the maximam occurrence of each word. based on that
def c_occur(s):
  x=''
  x=s.split()
  x.sort() # suppose i use heapsort with complixty O(nlogn)
  count=1
  list1=[]

  #this part for if the previous str is equal to the currant
  for i in range(len(x)):
    count=1
    if x[i-1]==x[i]:
      count+=1
      list1.append([x[i],count])


  # tis part for if there are more than or equal 2 occur str
  prev=' ' # amr
  if len(list1)!= 1 and len(list1)!= 0  :
    for i in range(len(list1)):
       if list1[i][0] == list1[i-1][0]:
          list1[i][1] += list1[i-1][1]-1

  # and this part to get the mixmam occuerd str
  max=0
  for i in list1:
    if i[1]>max:
      max=i[1]
  return max
# this algo is from scratch with total complixty O(nlogn)

# i think it will work well if i use count (bulid infunction) but it will take O(n^2)

c_occur('amr and ahmed are frindes but amr is the tallest')

2

In [ ]:
c_occur('amr and ahmed are frindes but amr is the tallest and amr is smart amr')

4

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [ ]:
def upper_lower(s):
  U=''
  L=''
  for i in s:
    U+=i.upper()
    L+=i.lower()
  return U,L
upper_lower('ShadyMayez')

('SHADYMAYEZ', 'shadymayez')

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [ ]:
def reverse(s):
  if len(s)%4==0:
    return s[::-1]
  else:
    return s
reverse('engShady')

'ydahSgne'

**10- Write a Python program to remove a newline in Python

In [ ]:
def remove_n(s):
  x=''
  for i in s:
    if i!='\n':
      x+=i
  return x
s=['shady\
mayez']
remove_n(s)

'shadymayez'

**11-Write a Python program to check whether a string starts with specified characters

In [59]:
def starts_with(string, start_chars):
    return string[:len(start_chars)] == start_chars
text = "Hello world"
print(starts_with(text, "He"))
print(starts_with(text, "Wo"))

True
False

**12- Write a Python program to add prefix text to all of the lines in a string

In [63]:
def add_prefix_to_lines(text, prefix):
    lines = text.split('\n')
    new_lines = [prefix + line for line in lines]
    return '\n'.join(new_lines)

multiline_text = """This is line one.
This is line two.
This is line three."""

result = add_prefix_to_lines(multiline_text, ">> ")
print(result)

>> This is line one.
>> This is line two.
>> This is line three.

**13-Write a Python program to print the following numbers up to 2 decimal places

In [64]:
def print_two_decimals(numbers):
    for num in numbers:
        print(f"{num:.2f}")

nums = [3.14159, 2.71828, 1.41421, 0.57721]
print_two_decimals(nums)

3.14
2.72
1.41
0.58

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [65]:
def print_with_sign(numbers):
    for num in numbers:
        print(f"{num:+.2f}")

nums = [3.14159, -2.71828, 0.0, 5, -7.12345]
print_with_sign(nums)

+3.14
-2.72
+0.00
+5.00
-7.12

**15-Write a Python program to display a number with a comma separator

In [67]:
def format_number_with_commas(number):
    return "{:,}".format(number)

number = 1234567890
formatted_number = format_number_with_commas(number)

formatted_number

'1,234,567,890'

**16-Write a Python program to reverse a string using 2 ways

In [ ]:
def reverse(s):
  x=''
  for i in range(len(s)-1,-1,-1):
    x+=s[i]
  return x
reverse('ShadyMayez')

'zeyaMydahS'

In [ ]:
def reverse1(s):
  return s[::-1]
reverse1('ShadyMayez')

'zeyaMydahS'

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [ ]:
def c_rep(s):
  s=s.replace(' ','')
  dict1={}
  for i in s:
    dict1[i]=s.count(i)
  return dict1
c_rep('amr and ahmed are frindes but amr is the tallest')

{'a': 6,
 'm': 3,
 'r': 4,
 'n': 2,
 'd': 3,
 'h': 2,
 'e': 5,
 'f': 1,
 'i': 2,
 's': 3,
 'b': 1,
 'u': 1,
 't': 4,
 'l': 2}

**18-Write a Python program to find the first non-repeating character in a given string

In [ ]:
def non_rep(s):
  x=s.replace(' ','')
  dict1={}
  for i in x:
    dict1[i]=x.count(i)
    if dict1[i]==1:
      return i
non_rep('amr and ahmed are frindes but amr is the tallest')

'f'

**19-Write a Python program to remove spaces from a given string

In [ ]:
def remove_space(s):
  x=s.replace(' ','')
  return x
remove_space('amr and ahmed are frindes but amr is the tallest')

'amrandahmedarefrindesbutamristhetallest'

**20-Write a Python program to count the number of non-empty substrings of a given string

In [ ]:
def n_empty_sub(s):
  x=s.split()
  return len(x)
n_empty_sub('amr and ahmed are frindes but amr is the tallest')

10

**21-write a Python program to swap first and last element of any list.

In [ ]:
def swap(L):
  L[0],L[-1]=L[-1],L[0]
  return L
swap([1,2,3,4,5])

[5, 2, 3, 4, 1]

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [ ]:
def swap_pos(L,pos1,pos2):
  L[pos1-1],L[pos2-1]=L[pos2-1],L[pos1-1]
  return L
swap_pos([23, 65, 19, 90],1,3)

[19, 65, 23, 90]

**23- search for the all ways to know the length of the list

In [ ]:
def len_list(L):
  counter=0
  for i in L:
    counter+=1
  return counter
len_list([1,2,3,4,5])

5

**24-write a Python code to find the Maximum number of list of numbers.

In [ ]:
def max_list(L):
  max=L[0]
  for i in L:
    if i>max:
      max=i
  return max
max_list([3,8,3,8,2,5,4,3])

8

**25-write a Python code to find the Minimum number of list of numbers.

In [ ]:
def min_list(L):
  min=L[0]
  for i in L:
    if i<min:
      min=i
  return min
min_list([3,8,3,8,2,5,4,3])

2

**26-search for if an elem is existing in list

In [ ]:
# let's do it with binery search
def find(l,T):
  l.sort() # suppose i use heapsort to sort the list with O(nlogn)
  upper=len(l)-1
  lower=0
  founded=False
  if T in l: # to chack if exist it cost O(n)

    while not founded:         # **************
       mid=(upper+lower)//2    #  ************
       if l[mid]==T:           #   **********
          founded=True         #    ********
       elif l[mid]>T:          #     O(logn)
          upper=mid            #    ********
       elif l[mid]<T:          #   **********
          lower=mid            #  ************
    return f'position {mid}'   # **************

  else:
    return 'Not in the list'
          #total complixty = O(nlogn)for sorting+  O(n) for chacking * O(logn) for binary search
          #total complixty = O(nlogn)


find([2,7,3,9,4,8,3,7,3,9],11)

'Not in the list'

In [ ]:
find([2,7,3,9,4,8,3,7,3,9],8)

'position 7'

**27- clear python list using different ways

In [ ]:
# ?
def clear (l):
  l.clear()
  return l
clear([2,7,3,9,4,8,3,7,3,9])

def clear2 (l):
  l=[]
  return l
clear2([2,7,3,9,4,8,3,7,3,9])

def clear3 (l):
  l[:]=[]
  return l
clear3([2,7,3,9,4,8,3,7,3,9])

def clear4 (l):
  l*=0
  return l
clear4([2,7,3,9,4,8,3,7,3,9])

[]

**28-remove duplicated elements from a list

In [ ]:
def remove_dup(l):
  l.sort() # -----> O(nlogn)
  x=[]
  for i in range(len(l)-1,-1,-1): # ----> O(n)
    if l[i] == l[i-1]:
       continue
    else:
      x.append(l[i])
  return x
  #total complixty= O(nlogn)
remove_dup([2,7,3,9,4,8,3,7,3,9])

[9, 8, 7, 4, 3, 2]

In [ ]:
# more efficient way
def remove_dup2(l):
  return list(set(l))
remove_dup2([2,7,3,9,4,8,3,7,3,9])
# only takes O(n)

[2, 3, 4, 7, 8, 9]

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [ ]:
def list_cto_dict(L1,L2):
  dict_result={}
  l=[]
  for i in range(0,len(L1)-1,2):
    dict_result={}
    for j in range(len(L2)):
      dict_result[L2[j]]=L1[i+j]
    l.append(dict_result)
  return l
L1=['Gfg', 3, 'is', 8]
L2=['name', 'id']
list_cto_dict(L1,L2)

[{'name': 'Gfg', 'id': 3}, {'name': 'is', 'id': 8}]

**30-write a python program to count unique values inside a list using different ways

In [ ]:
def unique_values1(l):
  l.sort()
  x=[]
  if l[0]!=l[1]:
    x.append(l[0])
  for i in range(1,len(l)-2):
    if l[i]!=l[i+1] and l[i]!=l[i-1] :
      x.append(l[i])
  return x
unique_values1([7,7,3,9,4,8,3,7,3,9])

[4, 8]

In [ ]:
def unique_values(l):
  x=[]
  for i in l:
    if i not in l[l.index(i)+1:] and i not in l[:l.index(i)] :
      x.append(i)
  return x
unique_values([2,7,3,9,4,8,3,7,3,9])

[2, 4, 8]

In [ ]:
import pandas as pd
def unique_values2(l):
  x=[]
  for i in l:
    if pd.value_counts(l)[i]==1:
      x.append(i)
  return x
unique_values2([2,7,3,9,4,8,3,7,3,9])

<ipython-input-24-16c9ef86b727>:5: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  if pd.value_counts(l)[i]==1:
<ipython-input-24-16c9ef86b727>:5: FutureWarning: value_counts with argument that is not not a Series, Index, ExtensionArray, or np.ndarray is deprecated and will raise in a future version.
  if pd.value_counts(l)[i]==1:

[2, 4, 8]

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3
Output : [4, 3] )

In [ ]:
def g_than_K(l,k):
  x=[]
  for i in l:
    if l.count(i)>k:
      x.append(i)
  return list(set(x))
g_than_K([4, 6, 4, 3, 3, 4, 3, 4, 3, 8],3)

[3, 4]

In [ ]:
import pandas as pd
def g_than_K(l,k):
  return list(pd.value_counts(l)[pd.value_counts(l)>k].index)
g_than_K([4, 6, 4, 3, 3, 4, 3, 4, 3, 8],3)

<ipython-input-31-b1689a45fea7>:3: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  return list(pd.value_counts(l)[pd.value_counts(l)>k].index)
<ipython-input-31-b1689a45fea7>:3: FutureWarning: value_counts with argument that is not not a Series, Index, ExtensionArray, or np.ndarray is deprecated and will raise in a future version.
  return list(pd.value_counts(l)[pd.value_counts(l)>k].index)

[4, 3]

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

In [ ]:
def pop_week(l):
  min=l[0]
  for i in l:
    if i<min:
      min=i
  l.remove(min)
  return l
pop_week([1,2,2,3,4,5])

[2, 2, 3, 4, 5]

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [ ]:
def all_possible(l):
  for i in range(len(l)):
    for j in range(len(l)):
      for k in range(len(l)):
        if i!=j and i!=k and j!=k:
          print(l[i],l[j],l[k])
all_possible([1,2,3])

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3]
Output:
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

In [ ]:
def all_comb(l):
  x=[]
  for i in range(len(l)):
    x.append([l[i]])
    for j in range(i):
      if i!=j and j!=i:
        x.append([l[i],l[j]])
  x.append(l)
  return x
all_comb([1,2,3])

[[1], [2], [2, 1], [3], [3, 1], [3, 2], [1, 2, 3]]

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [ ]:
def unique_com(l1,l2):
  y=[]
  x=[]
  for i in range(len(l1)): # 0 1
    for j in range(len(l2)): # 0 1 , 0 1
      if l1[i]!=l1[j] and l2[i]!=l2[j]:
        x.append((l1[i],l2[j]))
  y.append(x)
  x=[]
  for i in range(len(l1)): # 0 1
    for j in range(len(l2)): # 0 1 , 0 1
      if l1[i]!=l1[j] and l2[i]!=l2[j]:
         x.append((l1[i],l2[j-1]))
  y.append(x)
  return y
unique_com(["a","b"],[1,2])

[[('a', 2), ('b', 1)], [('a', 1), ('b', 2)]]

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1

**Output : 2 3 4 5 2)

In [ ]:
def most_occurrences(l):
  x=[]
  y=[]
  for i in l:
    x.append([l.count(i),i])
  m=max(x)
  for i in l:
    if i!=m[1]:
      y.append(i)
  return y
most_occurrences([1,1,2,3,4,5,1,2,1])

[2, 3, 4, 5, 2]

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [ ]:
def replace_indeses(l1,l2):
  x=[]
  for i in l2:
    x.append(l1[i])
  return x
l1=  ['Gfg', 'is','best']
l2=  [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]
replace_indeses(l1,l2)

['Gfg',
 'is',
 'best',
 'is',
 'Gfg',
 'Gfg',
 'Gfg',
 'best',
 'is',
 'is',
 'best',
 'Gfg']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3
Output : [] )

In [ ]:
def N_occurrences_K(l,K,N):
  x=[]
  for i in range(len(l)):
    if l[i].count(K)==N:
      return l[i]
N_occurrences_K([(4, 5, 5, 4), (5, 4, 3)],5,2 )

(4, 5, 5, 4)

In [ ]:
def N_occurrences_K(l,K,N):
  x=[]
  for i in range(len(l)):
    if l[i].count(K)==N:
      return l[i]
N_occurrences_K( [(4, 5, 5, 4), (5, 4, 3)], 5, 1 )

(5, 4, 3)

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [ ]:
def sort_columns(l,ind):
  l.sort(key=lambda x:x[ind])
  #for each sublist x, it uses x[ind] as the sorting key
  return l
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
sort_columns(array,1)

[[2, 1, 2], [3, 2, 1], [1, 3, 3]]

**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output:
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [ ]:
def sort_dict(d):
  return dict(sorted(d.items()))
sort_dict({'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32})

{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [ ]:
def remove_keys(d, k):
    x = {}
    for i in d:
        if isinstance(d[i], (int, float)) and d[i] > k: #ensures that we only compare numbers values to k
            x[i] = d[i]
        elif isinstance(d[i], (str)): #ensures the str if exist returned
            x[i] = d[i]
    return x
remove_keys({'Gfg': 3, 'is': 7, 'best': 10, 'for': 6, 'geeks': 'CS'}, 7)

{'best': 10, 'geeks': 'CS'}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
def concat(d1,d2,d3):
  d1.update(d2)
  d1.update(d3)
  return d1
concat({1:10, 2:20},{3:30, 4:40},{5:50,6:60})

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [1]:
def iterate(d):
  for i in d:
    print(i,d[i])
iterate({'Gfg': 3, 'is': 7, 'best': 10, 'for': 6, 'geeks': 'CS'})

Gfg 3
is 7
best 10
for 6
geeks CS

**44- Write a Python script to merge two Python dictionaries

In [3]:
def marerge(d1,d2):
  d1.update(d2)
  return d1
marerge({'Gfg': 3, 'is': 7, 'best': 10, 'for': 6, 'geeks': 'CS'},{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60})

{'Gfg': 3,
 'is': 7,
 'best': 10,
 'for': 6,
 'geeks': 'CS',
 1: 10,
 2: 20,
 3: 30,
 4: 40,
 5: 50,
 6: 60}

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [5]:
def max_min(d):
  return max(d.values()),min(d.values())
max_min({1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60})

(60, 10)

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [8]:
def drop_empty(d):
  index=''
  for i in d:
    if d[i]==None:
      index=i
  if index!='':
    del d[index]
  return d
drop_empty({'c1': 'Red', 'c2': 'Green', 'c3': None})

{'c1': 'Red', 'c2': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item

In [17]:
def my_tuple():
  t=()
  t=tuple(range(0,10,2))
  return t ,t[0]
my_tuple()

(0, 2, 4, 6, 8)

**48-Write a Python program to unpack a tuple into several variables

In [19]:
def unpack_tuple(t):
    a, b, c = t
    print(f"a = {a}, b = {b}, c = {c}")
unpack_tuple((10, 20, 30))

a = 10, b = 20, c = 30

**49-Write a Python program to add an item to a tuple

In [20]:
def tuple1(t,item):
  t=t+(item,)
  return t
tuple1((10, 20, 30),40)

(10, 20, 30, 40)

**50-Write a Python program to convert a tuple to a string

In [24]:
def tuple2(t):
  s=''
  for i in t:
    s+=str(i)
  return s
tuple2((10, 20, 30))

'102030'

**51-Write a Python program to convert a list to a tuple

In [25]:
def list2tuple(l):
  return tuple(l)
list2tuple([10, 20, 30])

(10, 20, 30)

**52-Write a Python program to reverse a tuple

In [26]:
def reversed_tuple(t):
  return t[::-1]
reversed_tuple((10, 20, 30))

(30, 20, 10)

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [34]:
def replace(l,n):
    new_list = []
    for i in l:
        new_tuple = i[:-1] + (n,)
        new_list.append(new_tuple)
    return new_list
replace([(10, 20, 40), (40, 50, 60), (70, 80, 90)],100)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [35]:
def string2tuple(s):
  return tuple(s)
string2tuple('python 3.0')

('p', 'y', 't', 'h', 'o', 'n', ' ', '3', '.', '0')

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [37]:
def average(t):
  sum=0
  for i in t:
      sum+=i
  return sum/len(t)
average((1,2,3,4,5,6,7,8,9))

5.0

**56-Write a Python program to add member(s) to a set.

In [38]:
def add2set(s,item):
  s.add(item)
  return s
add2set({1,2,3,4,5,6,7,8,9},10)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [39]:
def remove_item(s,item):
  if item in s:
    s.remove(item)
  return s
remove_item({1,2,3,4,5,6,7,8,9},10)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [43]:
def intersection(s1,s2):
  return s1.intersection(s2)
def union(s1,s2):
  return s1.union(s2)
def difference(s1,s2):
  return s1.difference(s2)
s1={1,2,3,4,5,6,7,8}
s2={4,5,6,7,8,9,0,11}
intersection(s1,s2)

{4, 5, 6, 7, 8}

In [44]:
union(s1,s2)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11}

In [45]:
difference(s1,s2)

{1, 2, 3}

**59-Write a Python program to find the maximum and minimum values in a set

In [41]:
def max_min(s):
  return max(s),min(s)
max_min({1,2,3,4,5,6,7,8,9})

(9, 1)

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [58]:
def target_sum(s,t):
  value=[]
  if t in s:
    s.remove(t)
  for i in s:
    if t-i in s and i != t-i:
      value.append(i)
  r=[]
  if value != []:
    for i in value:
      r.append((i,t-i))
  return r
target_sum({1,2,3,4,5,6,7,8},8)

[(1, 7), (2, 6), (3, 5), (5, 3), (6, 2), (7, 1)]